---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Episode from "./_EpisodeItem.astro";

export async function getStaticPaths({ paginate }) {
  const episodes = await getCollection("episodes");
  const sortedEpisodes = episodes.sort((a, b) => {
    return b.data.number - a.data.number;
  });

  const pages = paginate(sortedEpisodes, { pageSize: 10 });

  return pages;
}

const { page } = Astro.props;
---

<Layout title="Our podcast websites">
  <main>
    <section>
      {
        page.data.map((entry) => {
          return <Episode {...entry.data} />;
        })
      }
    </section>

    <nav>
      <a href={page.url.prev}>Previous</a>
      <a href={page.url.next}>Next</a>
    </nav>
  </main>
</Layout>
