---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Episode from "../../components/Episode.astro";

export async function getStaticPaths({ paginate }) {
  const episodes = await getCollection("episodes");

  const pages = paginate(episodes, { pageSize: 10 });

  return pages;
}

const { page } = Astro.props;
---

<Layout title="Our podcast websites">
  <main>
    {
      page.data.map((entry) => {
        return <Episode {...entry.data} />;
      })
    }

    <nav>
      <ul>
        <li>
          <a href={page.url.prev}>Previous</a>
        </li>
        <li>
          <a href={page.url.next}>Next</a>
        </li>
      </ul>
    </nav>
  </main>
</Layout>
