---
import { fetchEpisodes } from "../../data";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const episodeData = await fetchEpisodes();

  const pages = episodeData.map((episode) => {
    return {
      params: { slug: episode.attributes.slug },
      props: { episode: episode.attributes },
    };
  });

  return pages;
}

const { episode } = Astro.props;
---

<Layout title="Our podcast websites">
  <main>
    <header>
      <h1>{episode.title}</h1>
    </header>

    <div set:html={episode.embed_html} />

    <hr />

    <div set:html={episode.description} />

    <hr />
  </main>
</Layout>
