---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const episodes = await getCollection("episodes");

  const pages = episodes.map((episode) => {
    return {
      params: { slug: episode.data.slug },
      props: { entry: episode },
    };
  });

  return pages;
}

const { entry } = Astro.props;
---

<Layout title={entry.data.title}>
  <main>
    <header>
      <h1>{entry.data.title}</h1>
    </header>

    <div set:html={entry.data.embed_html} />

    <hr />

    <div set:html={entry.data.description} />

    <hr />
  </main>
</Layout>
