---
import { fetchMostPopuplarEpisodes } from "../data";
import Layout from "../layouts/Layout.astro";

const episodeData = await fetchMostPopuplarEpisodes();
const episodes = episodeData.map((data) => {
  return data.attributes;
});
---

<Layout title="Our podcast website">
  <main>
    <header>
      <h1>Podcast Websites in Astro</h1>

      <p>
        We're building <mark>two podcast</mark> websites in public during the <a
          href="https://www.twoweekbuild.com/">Two Week Build</a
        > Challange put on by Amy Dutton (<a
          href="https://twitter.com/selfteachme">@selfteachme</a
        >).
      </p>
    </header>
    <section>
      <aside>
        <h2>Join us on YouTube</h2>
        <p>We're streaming every week day for the duration of the challenge.</p>
        <p>
          <a
            target="_blank"
            href="https://www.youtube.com/playlist?list=PL9W-8hhRoLoM5qrPkHhzXOSVwVxV17Fs0"
            ><em>Our YouTube Playlist ↗</em>
          </a>
        </p>
      </aside>
      <aside>
        <h2>Follow the hashtag</h2>
        <p>
          For the latest chatter from all participants check out the hashtag.
        </p>
        <p>
          <a href="https://twitter.com/hashtag/TwoWeekBuild"
            ><em>#TwoWeekBuild ↗</em>
          </a>
        </p>
      </aside>
    </section>
    <hr />
    <section>
      <header>
        <h2>Most Popular Episodes</h2>
      </header>
      {
        episodes.map((episode) => {
          return (
            <article>
              <h2>
                <a href={`/episodes/${episode.slug}`}>{episode.title}</a>
              </h2>
              <div set:html={episode.description} />
            </article>
          );
        })
      }
    </section>
  </main>
</Layout>
