---
import Layout from "../layouts/Layout.astro";
import PopularEpisodes from "./episodes/_PopularEpisodes.astro";

const { SHOW_TITLE, SHOW_DESCRIPTION } = import.meta.env;
---

<Layout>
  <main>
    <header>
      <h1 set:html={SHOW_TITLE} />
      <p set:html={SHOW_DESCRIPTION} />
    </header>

    <section>
      <header>
        <h2>Popular Episodes</h2>
      </header>
      <PopularEpisodes count={5} />
    </section>
  </main>
</Layout>

<style>
  h1 {
    font-size: 4em;
    line-height: 1;

    + p {
      margin-top: 1em;
      font-size: 1.3em;
      max-width: 50ch;
      text-wrap: balance;
    }
  }
</style>
