---
import "../global.css";
import Player from "./_Player.astro";
import { ViewTransitions } from "astro:transitions";

const { SITE_TITLE } = import.meta.env;

interface Props {
  title?: string;
}

const { title } = Astro.props;
const formattedTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎙️</text></svg>"
    />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{formattedTitle}</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/episodes">Episodes</a>
      <a href="/about">About</a>
      <a class="split" href="/subscribe">Subscribe</a>
    </nav>
    <slot />
    <Player />
  </body>
</html>
